

<html>

<head>
    <title>
        Welcome | Simple Intrest Result
    </title>
</head>

<body>
    
    <form method="POST" action="Home/Simple">
        <fieldset>
            <h1>Hello @ViewBag.Guest</h1>
            <legend>Simple Interest Calculate:</legend>
            <input type="text" name="principle" Placeholder="Enter Principle" required=""><br><br>
            <input type="text" name="Rate" Placeholder="Enter Rate" required=""><br><br>
            <input type="text" name="Period" Placeholder="Enter Period" required=""><br><br>
            <input type="Submit" value="Calculate"><br><br>
        </fieldset>
    </form>
</body>

</html>