<html>

<head>
    <title>
        Welcome | Simple Intrest Calculator
    </title>
</head>

<body>
    <h1>Result of Simple Interest</h1>

    <b> Result is:@ViewBag.Simple</b>
</body>

</html>